.App {
  text-align: center;
  overflow-y: scroll;
}

.Bt {
  background-color: rgba(52, 52, 52, 0.0);
  background-size: cover;
  background-image: url("./imgs/arrow_right.png");
  height: 10vh;
  width: 10vh;
}

h1 {
  font-size: 60px;
    color: #413c47;
    vertical-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
